body {
    background-color: lightgray;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

iframe {
    border: none;
    width: 90vw;
    height: 80vh;
    margin-top: 20px;
}

.stats {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
}

.statsListing {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
}

#canvas {
    width: 600px;
    height: 600px;
    margin-top: 15px;
}