/* docs/index.css */
body {
  background-color: lightgray;
}
h1 {
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  text-align: center;
}
input {
  margin-left: 5px;
  margin-right: 5px;
}
iframe {
  border: 2px solid darkgray;
  width: 95vw;
  height: 70vh;
  margin-top: 20px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.stats {
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  display: flex;
  flex-direction: row;
}
.statsListing {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}
#canvas {
  margin-top: 15px;
}
#gameResult {
  font-weight: bold;
  font-family:
    Impact,
    Haettenschweiler,
    "Arial Narrow Bold",
    sans-serif;
  font-size: 40px;
  margin-left: 50px;
  padding-bottom: 10px;
  font-stretch: expanded;
}
h2,
h3 {
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}
#instructions {
  margin-left: 20px;
}
.instructions {
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  font-size: larger;
}
